/*** danielbroderick.github.io ***/

h1 {
    font-family: lores-12, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: grey;
    }

h2 {
    font-family: lores-9-minus-narrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*** code is poetry ***/