/* www.danielbroderick.com - running on danielbroderick.github.io */

/* Imports Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
/* Bootstrap Icon Styling */
.bi {
    display: inline-block;
    font-size: 100px;
    color: #c80000;
}
.dropdown {
    font-size: 90px;
    color: goldenrod;
}
/* Google Material Icon Styling */
/* 
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-36 { font-size: 36px; }
 */
.material-icons.md-24 { 
    font-size: 50px;
    line-height: 1;
    font-weight: 900;
    letter-spacing: -0.1em;
    color: white;
}
.material-icons.md-48 {
    font-size: 90px;
    line-height: 1;
    font-weight: 900;
    letter-spacing: -0.1em;
    color: #c80000;
}
h1 {
    font-family: lores-12, sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2;
    letter-spacing: -0.04em;
    font-style: normal;
    color: lightslategrey;
    }

h2 {
    font-family: lores-9-minus-narrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    }

body {
    font-family: lores-9-minus-narrow, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: -0.02em;
    color: darkslategrey;
}
/* Adobe Fonts */

/* font-family: kobenhavn-pictos,sans-serif;
font-weight: 900;
font-style: normal; */

/* code is poetry */